# Renombrar a .env y completar los valores reales

# Azure AD B2C
AZURE_ISSUER_URI=https://<tu-tenant>.b2clogin.com/<tenant-id>/v2.0/
AZURE_JWK_SET_URI=https://<tu-tenant>.b2clogin.com/<tu-tenant>.onmicrosoft.com/<user-flow>/discovery/v2.0/keys

# AWS
AWS_ACCESS_KEY_ID=<tu-access-key>
AWS_SECRET_ACCESS_KEY=<tu-secret-key>
AWS_SESSION_TOKEN=<tu-session-token>
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=<nombre-de-tu-bucket>

# App
EFS_TEMP_PATH=target/efs/guias
PORT=8080