# ============================================================
# VARIABLES DE ENTORNO — cursosonline-app
# Copia este archivo como .env y completa los valores
# cp .env.example .env
#
# IMPORTANTE:
# - Los valores de AWS CAMBIAN cada vez que inicias el lab
# - .env no se sube a GitHub (está en .gitignore)
# ============================================================

# --- Oracle Cloud Database ---
ORACLE_URL=jdbc:oracle:thin:@<HOST>:<PUERTO>/<SERVICE_NAME>
ORACLE_USERNAME=<USUARIO>
ORACLE_PASSWORD=<CONTRASENA>
# Si usas wallet:
# ORACLE_TNS_ALIAS=<TNS_ALIAS>
# WALLET_PATH=src/main/resources/wallet

# --- RabbitMQ ---
RABBITMQ_HOST=<IP_DEL_BROKER>
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# --- Azure AD B2C (modo producción) ---
# Tenant: despachoservice2.onmicrosoft.com (ID: 5199d2b5-40ed-44c1-a8e5-f4a83132a743)
# User Flow: b2c_1_despacho_signin
# Scope: https://despachoservice2.onmicrosoft.com/0a27f262-a186-457f-b7b5-eb43b284cd4c/despacho.acceso
AZURE_ISSUER_URI=https://despachoservice2.b2clogin.com/5199d2b5-40ed-44c1-a8e5-f4a83132a743/v2.0/
AZURE_JWKS_URI=https://despachoservice2.b2clogin.com/despachoservice2.onmicrosoft.com/discovery/v2.0/keys?p=B2C_1_despacho_signin
APP_SECURITY_ENABLED=false   # false=desarrollo, true=producción

# --- AWS S3 (obtener de AWS Academy → AWS Details) ---
AWS_ACCESS_KEY_ID=<ACCESS_KEY>
AWS_SECRET_ACCESS_KEY=<SECRET_KEY>
AWS_SESSION_TOKEN=<SESSION_TOKEN>
AWS_REGION=us-east-1
S3_BUCKET_NAME=<NOMBRE_DEL_BUCKET>

# --- GitHub Secrets (para el pipeline CI/CD) ---
# DOCKERHUB_USERNAME=<usuario_dockerhub>
# DOCKERHUB_TOKEN=<token_dockerhub>
# EC2_HOST=<IP_elastica_EC2>
# USER_SERVER=ec2-user
# EC2_SSH_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
